#app {
  min-width: 350px;
  width: 100%;
  max-width: 480px;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
